common --enable_platform_specific_config

build --noenable_bzlmod
build --java_language_version=21
build --java_runtime_version=remotejdk_21
build --tool_java_language_version=21
build --tool_java_runtime_version=remotejdk_21

build --jvmopt "--enable-preview"
build --jvmopt "-XX:+EnableDynamicAgentLoading"
build --jvmopt "-XX:+UnlockDiagnosticVMOptions"
build --jvmopt "-XX:+DebugNonSafepoints"
build --javacopt "--enable-preview"

# Don't depend on a JAVA_HOME pointing at a system JDK
# see https://github.com/bazelbuild/rules_jvm_external/issues/445
build:windows --repo_env=JAVA_HOME=../bazel_tools/jdk