common --enable_platform_specific_config
common --incompatible_disallow_empty_glob=False
# The new bazel plugin does not yet support bazel 8 properly.
# See https://youtrack.jetbrains.com/issue/BAZEL-1562/Support-Bazel-8
common --enable_workspace

build --extra_toolchains=@graalvm//:toolchain
build --extra_toolchains=@graalvm//:jvm
build --extra_toolchains=@graalvm//:toolchain_gvm
build --extra_toolchains=@graalvm//:bootstrap_runtime_toolchain
build --java_language_version=21
build --tool_java_language_version=21
build --java_runtime_version=remotejdk_21
build --tool_java_runtime_version=remotejdk_21

# build --jvmopt "--enable-preview"
# build --jvmopt "-XX:+EnableDynamicAgentLoading"
# build --jvmopt "-XX:+UnlockDiagnosticVMOptions"
# build --jvmopt "-XX:+DebugNonSafepoints"
# build --javacopt "--enable-preview"

# Don't depend on a JAVA_HOME pointing at a system JDK
# see https://github.com/bazelbuild/rules_jvm_external/issues/445
build:windows --repo_env=JAVA_HOME=../bazel_tools/jdk
build:linux --repo_env=JAVA_HOME=../bazel_tools/jdk

build:macos --remote_download_toplevel
