.gradle
/build/
tools/compile/build

bazel-*
.idea
.ijwb
.ijwb-old

.DS_Store

.idea
/bin/development/build/
/bin/packer/build/
/modules/canvas/build/
/modules/chat/build/
/modules/common/build/
/modules/hub/build/
/modules/map/build/
/modules/terraform/build/
/modules/*/build
/modules/canvas/*/build

profile.jfr
/test.http
