[submodule "modules/schem"]
	path = modules/schem
	url = git@github.com:hollow-cube/schem.git
[submodule "modules/molang"]
	path = modules/molang
	url = git@github.com:hollow-cube/molang.git
[submodule "modules/multipart"]
	path = modules/multipart
	url = git@github.com:hollow-cube/multipart.git
